{% assign unique_sorted_tags = site.tags | map: first | sort_natural %}

{% if unique_sorted_tags.size > 0 %}
  <div class="all-tags-list w3-padding">
    <h4>Browse by Tag</h4> 
    <p>
      {% for tag_name in unique_sorted_tags %}
        <a href="{{ '/tag/' | append: tag_name | slugify | relative_url }}/"
           class="w3-tag w3-round w3-theme-d2 w3-margin-bottom"
           style="text-decoration: none; margin-right: 5px;">
          {{ tag_name }}
        </a>
      {% endfor %}
    </p>
  </div>
{% else %}
  <p><em>No tags found on this site yet.</em></p>
{% endif %}
