---
layout: defaults
---
<div class="home">
  <h1 class="page-heading">{{ page.title }}</h1>

  <ul class="post-list">
    {% for post in site.tags[page.tag] %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>
        {% if post.description %}
          <p>{{ post.description }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <p><a href="/">← Back to all posts</a></p>
</div>
